<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.mapper.AnswerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.code.pojo.Answer">
        <id column="answer_id" property="answerId" />
        <result column="content" property="content" />
        <result column="grade" property="grade" />
        <result column="time" property="time" />
        <result column="itemset_id" property="itemsetId" />
        <result column="item_id" property="itemId" />
        <result column="user_no" property="userNo" />
        <result column="checkingRate" property="checkingRate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        answer_id, content, grade, time, itemset_id, item_id, user_no, checkingRate
    </sql>

</mapper>
