<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.mapper.ItemSetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.code.pojo.ItemSet">
        <id column="itemSet_id" property="itemsetId" />
        <result column="itemSet_title" property="itemsetTitle" />
        <result column="itemSet_grade" property="itemsetGrade" />
        <result column="itemSet_type" property="itemsetType" />
        <result column="itemSet_notice" property="itemsetNotice" />
        <result column="itemSet_startTime" property="itemsetStarttime" />
        <result column="itemSet_endTIme" property="itemsetEndtime" />
        <result column="teacher_id" property="teacherId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        itemSet_id, itemSet_title, itemSet_grade, itemSet_type, itemSet_notice, itemSet_startTime, itemSet_endTIme, teacher_id
    </sql>

</mapper>
